@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1>Chào mừng đến Rạp Chiếu Phim</h1>
    <p>Giao diện khách hàng đang được phát triển...</p>
</div>