@model RapChieuPhim.Models.Entities.Phim

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Phim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaPhim" class="control-label"></label>
                <input asp-for="MaPhim" class="form-control" />
                <span asp-validation-for="MaPhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenPhim" class="control-label"></label>
                <input asp-for="TenPhim" class="form-control" />
                <span asp-validation-for="TenPhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTheLoai" class="control-label"></label>
                    <select asp-for="MaTheLoai" class="form-select" asp-items="ViewBag.MaTheLoai">
                        <option value="" disabled selected>-- Chọn thể loại --</option>
                    </select>
            </div>
            <div class="form-group">
                <label asp-for="ThoiLuong" class="control-label"></label>
                <input asp-for="ThoiLuong" class="form-control" />
                <span asp-validation-for="ThoiLuong" class="text-danger"></span>
            </div>
                <div class="form-group">
                <select asp-for="TrangThai" class="form-select">
                    <option value="DangChieu">Đang chiếu</option>
                    <option value="SapChieu" selected>Sắp chiếu</option> 
                    <option value="NgungChieu">Ngừng chiếu</option>
                </select>
                </<div>
            <div class="form-group">
                <label asp-for="NgayPhatHanh" class="control-label"></label>
                <input asp-for="NgayPhatHanh" class="form-control" />
                <span asp-validation-for="NgayPhatHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhanLoaiDoTuoi" class="control-label"></label>
                <input asp-for="PhanLoaiDoTuoi" class="form-control" />
                <span asp-validation-for="PhanLoaiDoTuoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuongDanAnh" class="control-label"></label>
                <input asp-for="DuongDanAnh" class="form-control" />
                <span asp-validation-for="DuongDanAnh" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DaXoa" /> @Html.DisplayNameFor(model => model.DaXoa)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DuongDanTrailer" class="control-label"></label>
                <input asp-for="DuongDanTrailer" class="form-control" />
                <span asp-validation-for="DuongDanTrailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>

